params {       
    //input = '/mnt/disk10/users/sheenams/umi_nextflow/test/'    
    //sample_metadata = '/mnt/disk10/users/sheenams/umi_nextflow/test/sample-metadata.csv'
    //output = 'test_output'
    
   
    workDir = '/mnt/disk10/users/sheenams/umi_nextflow/'

    //input = '/mnt/disk1/genetics/TGC/fastqs/200213_NB0357_MiniOncoKAPA280R-MONCv1/'
    sample_metadata = '/mnt/disk1/genetics/TGC/fastqs/200213_NB0357_MiniOncoKAPA280R-MONCv1/SampleSheet.csv'
    //output = 'output'


    genomes_base = '/mnt/disk2/com/Genomes/'
  assays {
    'MONCv1' {
      picard_intervals = "/mnt/disk2/com/Genomes/Picard/MONC_ctDNA1.3_designed_probe_coords_180314_no_chr.Picard.bed"
      bed_file = "/mnt/disk2/com/Genomes/BED_Files/MONC_ctDNA1.3_designed_probe_coords_180314_no_chr.bed"
    }
  }
  genomes {
    'GRCh37' {
      bwa_index = "/mnt/disk2/com/Genomes/gatk-bundle/human_g1k_v37.fasta.{amb,ann,bwt,pac,sa}"
      ref_fasta_dict = "/mnt/disk2/com/Genomes/gatk-bundle/human_g1k_v37.dict"
      ref_fasta = "/mnt/disk2/com/Genomes/gatk-bundle/human_g1k_v37.fasta"
      ref_fasta_fai = "/mnt/disk2/com/Genomes/gatk-bundle/human_g1k_v37.fasta.fai"
    }
  }
}

profiles {
	standard {
		process.executor = 'local'
  }
  singularity {
    process.executor = 'local'
    queueSize = 10
    max_cpus = 32
    max_memory = 128.GB
    docker.enabled = false
    singularity.autoMounts = true //When true Nextflow automatically mounts host paths in the executed contained. 
    singularity.enabled = true  // Turn this flag to true to enable Singularity executio
    process {
        withLabel:bwa {
          container = 'file:///mnt/disk2/com/container-images/bwa-0.7.17.simg'
        }
        withLabel:fgbio{
          container = 'file:///mnt/disk2/com/container-images/fgbio-1.1.0.simg'
        }
        withLabel:picard{
          container = 'file:///mnt/disk2/com/container-images/picard-2.18.16.simg'
        }
        withLabel:vardict{
          container = 'file:///mnt/disk2/com/container-images/vardict-1.5.1.simg'
        }
    }
  }
}