params {   
    // Input folder needs trailing slash
    input_folder = '/mnt/disk1/genetics/TGC/fastqs/200213_NB0357_MiniOncoKAPA280R-MONCv1/'
    workDir = '/mnt/disk10/users/sheenams/umi_nextflow/'
    output = 'output'
    max_cpus = 32
    max_memory = 128.GB
}

profiles {
	standard {
		process.executor = 'local'
	}
  singularity {
    docker.enabled = false
    singularity.autoMounts = true
    singularity.enabled = true
    process {
        withLabel:bwa {
          container = 'file:///mnt/disk2/com/container-images/bwa-0.7.17.simg'
        }
        withLabel:fgbio{
          container = 'file:///mnt/disk2/com/container-images/fgbio-1.1.0.simg'
        }
        withLabel:picard{
          container = 'file:///mnt/disk2/com/container-images/picard-2.18.16.simg'
        }
        withLabel:vardict{
          container = 'file:///mnt/disk2/com/container-images/vardict-1.5.1.simg'
        }
    }
  }
}